<%- include('../partials/head')%>
<div class="about-text">
    <div class="caja-title">
        <div class="title">
            <h2>Sobre Nosotros</h2>
        </div>
    </div>
    <section class="about-section">
        
            <div class="caja-about">
                <p>Ubicada en la ciudad de Formosa, la panadería Mongo lleva 115 funcionando de manera ininterrumpida.
                    Al
                    frente se encuentran los descendientes de su fundador, que ya van por la quinta y sexta generación.
                    Somos eso familia, elaborando panificados, para familias.
                    "El origen del pan tiene una fascinante historia que ha sido transmitida a lo largo de los siglos en
                    diferentes culturas alrededor del mundo. Según las leyendas, en la antigua Grecia, se cuenta que el
                    dios Hermes regaló a los humanos un pan especial llamado “ambrosía“, el cual les confería
                    inmortalidad y poderes divinos. Sin embargo, solo aquellos que fueran dignos y justos podrían
                    acceder a él."
                </p>
            </div>
        </div>


    </section>

    <%- include('../partials/footer')%>