<%- include('../partials/head')%>

    <section class="contact-sesion">
        <div class="caja-title-contact">
            <div class="title">
                <h2>Contacto</h2>
            </div>
        </div>
        <div class="caja-form">
            <div class="form-contact">
                <form action="" class="contact-form">
                    <label for="name">Apellido y Nombre:</label>
                    <input type="text" name="name" required>

                    <label for="email">Ingrese su Email de contacto:</label>
                    <input type="email" name="email" required>

                    <label for="message">Mensaje:</label>
                    <textarea class="message" name="message" rows="4" id=""></textarea>

                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </section>
    </div>





    <%- include('../partials/footer')%>