<%- include('../partials/head')%>
<main class="contenedor">

<h1>Operación realizada con exito</h1>
<h2>En cinco segundos se redireccionará a Login</h2>

</main>
<script src="/js/redirigir2.js"></script>
<%- include('../partials/footer')%>