<%- include('../partials/head')%>

<main>
    <h2>Compra Realizada</h2>
    <p>Gracias por tu compra. Aquí están los detalles:</p>
    <a href="/">Volver al inicio</a>
</main>
<%- include('../partials/footer')%>

