<%- include('../partials/head')%>

    <div class="caja-title-update">
        <div class="title">
            <h2>Actualizar Productos</h2>
        </div>
    </div>
    <div class="caja-form-agrega">
        <div class="agrega-form">
            <form action="/admin/enviarproducto/<%= products.id %>?_method=PUT" method="post">

                <label for="">Nombre de producto:</label>
                <input type="text" name="nombre_producto">

                <label for="">Descripción:</label>
                <input type="text" name="descripcion">

                <label for="">Precio</label>
                <input type="number" name="precio">

                <button type="submit" class="agregarProductosBtn">Actualizar</button>

            </form>
        </div>
    </div>


    <%-include('../partials/footer')%>